body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
   
nav{
background-color: beige;
}

h1{
    text-align: center;
    color: rgb(0, 72, 13);
}

.navTable{
    width: 100%;
}

.navLink{
    background-color: aqua;
    width:16.66%;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    margin: auto 20px;
}

.navLink:hover{
    background-color: black;
}

.navLink>a{
    display: block;
    width: 100%;
    font-size: x-large;
}


.navLink>a:hover{
    color: white;
}
